# Root .gitignore
AGENTS.md
PROGRESS.md
.DS_Store
.vscode/
.idea/
*.log
.env
node_modules/
dist/
build/
.env*.local
generated/
yarn-error.log/
vendor/
tmp/
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
bun.lock
!compute/*/bun.lock
pnpm-lock.yaml
orm/**/migrations/
misc/**/migrations/
databases/**/migrations/
orm/**/package-lock.json
misc/**/package-lock.json
experimental/**/package-lock.json
.output/
databases/**/package-lock.json
experimental/**/*.db
.next
.nuxt
dev.db